

.copy_right_footer {
    position: fixed;
    color: cornflowerblue;
    bottom: 0;
    width: 100%;
    background-color:gold;
    line-height: 3;
    text-align: center;
  }

  #mn{
    text-align: right;
  }
  #gl{
    text-align: left;
  }
